@inject IJSRuntime js;
<div class="@Class split-zone" style=@Style>
    <CascadingValue Value="LazyEnsureLoadModule()" Name="ModuleLoader" TValue="ValueTask<IJSObjectReference>">
        <CascadingValue Value="CascadingOptions" Name="CascadingOptions">
            @ChildContent
        </CascadingValue>
    </CascadingValue>
</div>
<style>
    .gutter {
        background-repeat: no-repeat;
        background-position: 50%;
    }
    .gutter {
        @CommonGutterStyle
    }

        .gutter.gutter-horizontal {
            cursor: col-resize;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
        }

        .gutter.gutter-horizontal {
            @HorizontalGutterStyle
        }

        .gutter.gutter-vertical {
            cursor: row-resize;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
        }

        .gutter.gutter-vertical {
            @VerticalGutterStyle
        }
    vertical {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    horizontal {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
</style>
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string? Class { get; set; }
    [Parameter]
    public string? Style { get; set; }
    [Parameter]
    public string? CommonGutterStyle { get; set; }
    [Parameter]
    public string? HorizontalGutterStyle { get; set; }
    [Parameter]
    public string? VerticalGutterStyle { get; set; }

    protected SplitOptions? CascadingOptions { get; set; }

    [Parameter]
    public string? GutterStyle { get; set; }
    [Parameter]
    public float? GutterSize { get; set; }
    [Parameter]
    public string? GutterAlign { get; set; }
    [Parameter]
    public int? SnapOffset { get; set; }
    [Parameter]
    public int? DragInterval { get; set; }

    IJSObjectReference? module;

    protected override void OnInitialized()
    {
        this.CascadingOptions = new SplitOptions()
        {
            GutterStyle = GutterStyle,
            GutterSize = GutterSize,
            GutterAlign = GutterAlign,
            SnapOffset = SnapOffset,
            DragInterval = DragInterval
        };
    }

    protected async ValueTask<IJSObjectReference>
    LazyEnsureLoadModule()
    {
        module = await js.InvokeAsync<IJSObjectReference>
            ("import", "./_content/SplitJs.Blazor/js/split.es.js");
        return module;
    }
}
