@page "/"

<SplitZone Style="width:500px; height: 600px; border: 5px solid white; float:left">
    <Horizontal GutterStyle="background-color: gray;">
        <Split MinSizePx="0" Style="background-color:#b6ff00">
            <h1>
                Hello!
            </h1>
        </Split>
        <Split MinSizePx="0">
            <Vertical>
                <Split Size="40" MinSizePx="0" Style="background-color:#ea9797;">
                    <h1>Blazor</h1>
                </Split>
                <Split Size="60" MinSizePx="0" Style="background-color:#639ac8;">
                    <h1>Split.js</h1>
                </Split>
            </Vertical>
        </Split>
    </Horizontal>
</SplitZone>

<style>
    split {
        box-shadow: rgba(0,0,0,.1)  0 0 5px 5px inset;
    }
    horizontal {
        border: 2px dashed blue;
    }
    vertical {
        border: 2px groove green;
    }
</style>

<SplitZone Style="width:500px; height: 600px; border: 5px solid white; float:left">
    <Vertical>
        <Split MinSizePx="0" Style="background-color:#b6ff00">
            <h1>
                Hello!
            </h1>
        </Split>
        <Split MinSizePx="0">
            <Horizontal>
                <Split Size="40" MinSizePx="0" Style="background-color:#ea9797;">
                    <h1>Blazor</h1>
                </Split>
                <Split Size="60" MinSizePx="0" Style="background-color:#639ac8;">
                    <h1>Split.js</h1>
                </Split>
            </Horizontal>
        </Split>
    </Vertical>
</SplitZone>
@code {
}
